.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #424349;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #d5d5d6;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: 0px;
  background-color: #d5d5d6;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div > p {
  margin: auto;
  text-align: left;
  font: normal normal normal 10px/11px Helvetica Neue;
  letter-spacing: 0px;
  color: #AFAFB1;
  opacity: 1;
}

.workspace-letter {
  display: flex;
  margin-left: 9px;
  margin-right: 41px;
}
